<!DOCTYPE html>
<html>
	<head>
		<title>Greenhouse
			<% if (typeof title !='undefined') { %> 
			   - <%= title %>
			<%}%>
		</title>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<div class="container">
	  		<div class="header ">
	  			<div class="pull-right">
	  				<form method="post" action="/logout">
						<button class="btn btn-default" type="submit">
							<span class="glyphicon icon-signout"></span> Sign out
						</button>
					</form> 
				</div>
	  			<h1 class="text-muted">Viva Pinata</h1>
      		</div>