<!DOCTYPE html>
<html>
	<head>
		<title>Pirita</title>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-default">
					<div class="panel-heading"><h1 class="panel-title">Sign In</h1></div>
					<div class="panel-body">
						<% if (typeof errormsg != 'undefined'){ %>
							<div class="alert alert-danger">
								<strong>Oups !</strong> <%= errormsg %>.
							</div>
						<%}%>
						<form role="form" method="POST" action="/login" accept-charset="UTF-8">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
									<input type="text"	class="form-control" placeholder="Username" name="username">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
									<input type="password" class="form-control" placeholder="Password" name="password">
								</div>
							</div>
							<button type="submit" name="submit" class="btn btn-info">Sign in</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
  </body>
  <script	src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</html>